.root {
 -fx-background-color: #034f84;
}

.label {
 -fx-font-size: 11pt;
 -fx-font-family: "Segoe UI Semibold";
 -fx-text-fill: white;
 -fx-opacity: 0.8;
}
.label.choice-box{
 -fx-text-fill: black;
}
.label-bright.choice-box{
 -fx-text-fill: black;
}

.label-bright {
 -fx-font-size: 11pt;
 -fx-font-family: "Segoe UI Semibold";
 -fx-text-fill: black;
 -fx-opacity: 1;
}

.label-header {
 -fx-font-size: 32pt;
 -fx-font-family: "Segoe UI Light";
 -fx-text-fill: black;
 -fx-opacity: 1;
}

.table-view {
 -fx-base: #1d1d1d;
 -fx-control-inner-background: #1d1d1d;
 -fx-background-color: #1d1d1d;
 -fx-table-cell-border-color: transparent;
 -fx-table-header-border-color: transparent;


}

.table-view .column-header-background {
 -fx-background-color: transparent;

}

.table-view .column-header, .table-view .filler {
 -fx-size: 35;
 -fx-border-width: 0 0 1 0;
 -fx-background-color: transparent;
 -fx-border-color:
         transparent
         transparent
         derive(-fx-base, 80%)
         transparent;
 -fx-border-insets: 0 0 1 0;
}
.table-view.column-header{
 -fx-spacing: 10;
}
.table-view .column-header .label {
 -fx-font-size: 20pt;
 -fx-font-family: "Segoe UI Light";
 -fx-text-fill: white;
 -fx-alignment: baseline-center;
 -fx-opacity: 1;

}

.table-view:focused .table-row-cell:filled:focused:selected {
 -fx-background-color: -fx-focus-color;
 -fx-font-size: 15;
}

.split-pane:horizontal > .split-pane-divider {
 -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
 -fx-background-color: transparent, derive(#1d1d1d,20%);
-fx-text-fill: white;
}

.split-pane {
 -fx-padding: 1 0 0 0;
}

.menu-bar {
 -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
 -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
 -fx-font-size: 10pt;
 -fx-font-family: "Segoe UI Light";
 -fx-text-fill: white;
 -fx-opacity: 0.9;
}
.radio-button {
 -fx-text-fill: white;
}
.menu .left-container {
 -fx-background-color: black;
}

.text-field {
 -fx-font-size: 10pt;
 -fx-font-family: "Segoe UI Semibold";
}

.combo-box{
 -fx-font-size: 12pt;
 -fx-font-family: "Segoe UI Semibold";
 -fx-background-color: derive(#92a8d1,50%);
}
.choice-box {
 -fx-font-size: 12pt;

 -fx-font-family: "Segoe UI Semibold";
 -fx-background-color: derive(#92a8d1, 40%);
}
.choice-box > .label{
 -fx-text-fill: black;
}



/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
 -fx-padding: 10 50 10 50;
 -fx-border-color: #034f84;
 -fx-border-width: 2;
 -fx-background-radius: 5;
 -fx-background-color: #1C6190;
 -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
 -fx-font-size: 13pt;
 -fx-text-fill: #deeaee;
 -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
 -fx-background-color: #0140AC;
}

.button:pressed, .button:default:hover:pressed {
 -fx-background-color: #0258A1;
 -fx-text-fill: #90CADA;
}

.button:focused {
 -fx-border-color: white, white;
 -fx-border-width: 1, 1;
 -fx-border-style: solid, segments(1, 1);
 -fx-border-radius: 0, 0;
 -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
 -fx-opacity: 0.4;
 -fx-background-color: #1d1d1d;
 -fx-text-fill: white;
}

.button:default {
 -fx-background-color: -fx-focus-color;
 -fx-text-fill: #022FB5;
}

.button:default:hover {
 -fx-background-color: derive(-fx-focus-color, 30%);

}

.dialog.dialog-pane {
 -fx-background-color: greenyellow;
}

.dialog > .dialog-pane > .button-bar {
 -fx-font-size: 24px;
 -fx-background-color: indianred;
 -fx-font-family: "Andalus";
}

.dialog > .dialog-pane > .content.label {
 -fx-font-size: 16px;
 -fx-font-weight: bold;
 -fx-fill: blue;
}

.dialog:header > .dialog-pane .header-panel {
 -fx-background-color: cadetblue;
 -fx-font-style: italic;
}




